body{
    font-family: cursive;
    }
.login-form {
    width: 60%;
    margin: 0 auto;
    padding: 100px 0 30px;    
}
.para{
    padding: 10px;
}
.error {
    color: #FF0000;
}
.box{
    background-color: #ececec;
    padding:4%;
    color:#7a7a7a;
    font-weight: 10px;
    font-family: cursive;
}
.h{
    text-align: center;
}
.postion{
    text-align: center;
}