.property {
    margin: 0 auto;
    padding: 30px 0;
}

form {
    color: #434343;
    margin-bottom: 15px;
    border: 1px solid #f3f3f3;
    box-shadow: 0px 2px 2px;
    padding: 30px;
}

h4 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}

.avatar {
    color: #fff;
    margin: 0 auto 30px;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #4aba60;
    padding: 15px;
}

.avatar i {
    font-size: 62px;
}

.forgot-link {
    float: right;
}
